html {
    height: 100%;
    width: 100%
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0);
}

.comment {
    position: fixed;
    display: grid;
    font-size: 36pt;
    white-space: pre;
    font-family: "YuGothic", "Hiragino Kaku Gothic ProN", "Meiryo", "verdana", sans-serif;
}

.icon {
    grid-row: 1;
    grid-column: 1;
    vertical-align: text-top;
    margin-right: 10px;
}

.content {
    grid-row: 1;
    grid-column: 2;
    color: #ffffff;
    font-weight: bold;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 2px;
}

.linux .content {
    -webkit-text-stroke-width: 1.5px;
}
